<nav class="navbar navbar-expand-lg navbar-light bg-light pt-0 pb-0">
    <div class="container d-flex justify-content-start">
        <a class="navbar-brand" href="/home">
            <img src="https://freshcart.codescandy.com/assets/images/logo/freshcart-logo.svg" alt="" width="300"
                height="50" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex">
                <input class="form-control rounded-3 me-2" style="width: 50rem;" type="search" placeholder="Search">
                <button class="btn btn-success me-5" type="submit" style="width: 3rem;">
                    <i class='bx bx-search-alt bx-tada'></i></button>
            </form>
            <div class="dropdown">
                <button class="btn btn-success me-3" data-bs-toggle="dropdown" style="width: 3rem;">
                    <i class='bx bx-user'></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {{!-- <li><button class="btn btn-primary dropdown-item" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"
                            onclick="getFromSession()">Cart</button></li> --}}
                    <li><a href="/demoCart" class="dropdown-item">Cart</a></li>
                    <li><a class="dropdown-item" href="/home/profile">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                </ul>
            </div>
            <a href="/logout" class="btn btn-success" style="width: 3rem;">
                <i class='bx bx-log-out bx-flip-vertical'></i>
            </a>

        </div>
    </div>
</nav>

<div class="container d-flex justify-content-start mt-3 collapse navbar-collapse">
    <div class="dropdown">

        <a class="btn btn-success px-6 me-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="true" style="width: 12rem;">
            <span class="me-1">
                <i class='bx bx-category'></i>
            </span> All Departments
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Fruits & vegetables</a></li>
            <li><a class="dropdown-item" href="#">Dairy Products</a></li>
            <li><a class="dropdown-item" href="#">Meat products</a></li>
        </ul>

        <a class="btn" href="#" role="button" style="width: 5rem;"> Home </a>

        <a class="btn " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 6rem;">
            Stores
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Store 1</a></li>
            <li><a class="dropdown-item" href="#">Store 2</a></li>
            <li><a class="dropdown-item" href="#">Store 3</a></li>
            <li><a class="dropdown-item" href="#">Store 4</a></li>
        </ul>

        <a class="btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 6rem;">
            Accounts
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">Tommorow</a></li>
            <li><a class="dropdown-item" href="#">Last week</a></li>
            <li><a class="dropdown-item" href="#">Last month</a></li>
        </ul>

    </div>
</div>
<div class="d-flex justify-content-center">
    <hr style="width: 98vw;">
</div>



<div class="container mt-4">
    <div class="row g-4 row-cols-xl-4 row-cols-lg-3 row-cols-2 row-cols-md-2 mt-2">
        <!-- col -->
        {{#each data}}
        <div class="col">
            <!-- card -->
            <div class="card card-product">
                <div class="card-body">

                    <!-- badge -->
                    <div class="text-center">
                        <div class=" position-absolute top-0 start-0">
                            <span class="badge bg-danger">{{this.discountValue}}% Off</span>
                        </div>
                        <a href="/home/{{this.productCategory}}/{{this.id}}">
                            <img src={{this.productImage}} alt="Grocery" class="mb-3" height="150vh"></a>
                    </div>
                    <!-- heading -->
                    {{!-- <div class="text-small mb-1"><a href="#!"
                            class="text-decoration-none text-muted"><small>{{this.productCategory}}</small></a></div>
                    --}}

                    <h2 class="fs-6"><a href="#" class="text-inherit text-decoration-none">{{this.productName}}</a></h2>
                    <!-- price -->
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div>
                            <span class="text-decoration-line-through text-muted">${{this.productPrice}}</span>
                            <span class="text-dark">${{this.finalPrice}}</span>
                        </div>
                        <!-- btn -->
                        <div><a href="/addToCart/{{this.productCategory}}/{{this.id}}" class="btn btn-success">
                                <i class='bx bxs-cart-add bx-tada'></i>
                                Add
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
</div>