{{#if alert}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}


<div class="container-fluid">
    <div class="row">
        <div class="col d-flex d-inline-flex flex-wrap justify-content-center align-items-center">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Registration</h2>
                    <p class="card-text d-flex justify-content-center">Please provide data for registration</p>

                    <form action="/register" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="name">
                            {{#if err.name}}
                            <p style="color: red; margin: 0; padding: 0">{{err.name}}</p>
                            {{/if}}
                        </div>
                        <div class="form-group mt-2">
                            <input type="email" class="form-control" name="email" id="email" placeholder="email">
                            {{#if err.email}}
                            <p style="color: red; margin: 0; padding: 0">{{err.email}}</p>
                            {{/if}}
                        </div>
                        <div class="form-group mt-2">
                            <input type="contact" class="form-control" name="contact" id="contact"
                                placeholder="contact">
                            {{#if err.contact}}
                            <p style="color: red; margin: 0; padding: 0">{{err.contact}}</p>
                            {{/if}}
                        </div>
                        <div class="form-group mt-2">
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="password">
                            {{#if err.password}}
                            <p style="color: red; margin: 0; padding: 0">{{err.password}}</p>
                            {{/if}}
                        </div>
                        <div class="form-group mt-2">
                            <input type="confirmPassword" class="form-control" name="confirmPassword"
                                id="confirmPassword" placeholder="confirmPassword">
                            {{#if err.confirmPassword}}
                            <p style="color: red; margin: 0; padding: 0">{{err.confirmPassword}}</p>
                            {{/if}}
                        </div>
                        <button type="submit" class="btn btn-danger mt-3">Register</button>
                        <a href="/login" type="submit" class="btn btn-danger mt-3">Back to Login</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>